.summit {
  width: 340px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #000;
  padding: 15px 0;
  margin: 40px 0;
}
.summit:hover {
  cursor: pointer;
}
